@charset "UTF-8";

@font-face {
  font-family: Circe;
  font-display: swap;
  src: url("../fonts/circe-light.woff2") format("woff2"), url("../fonts/circe-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Circe;
  font-display: swap;
  src: url("../fonts/circe.woff2") format("woff2"), url("../fonts/circe.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Plumb;
  font-display: swap;
  src: url("../fonts/Plumb.woff2") format("woff2"), url("../fonts/Plumb.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Plumb";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Plumb";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  border-bottom: 1px solid #FFFFFF;
}

.header__container {
  position: relative;
  max-width: 83.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 5.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.header__logo {
  position: relative;
  z-index: 2;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  position: relative;
  z-index: 2;
}

.header__Langs {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__lang {
  font-weight: 400;
  font-family: "Circe";
  font-size: 1rem;
  line-height: 135%;
}

.header__search-button {
  display: inline-block;
  padding: 0.9375rem;
  border-top: 0.0625rem solid #fff;
  border-right: 0.0625rem solid #fff;
  border-bottom: 0.0625rem solid #fff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-open .menu__body {
  left: 0;
}

.menu-open .menu__body::before {
  content: "";
  left: 0;
}

.menu__list {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.9375rem;
     -moz-column-gap: 2.9375rem;
          column-gap: 2.9375rem;
  row-gap: 0.3125rem;
}

.menu__link {
  white-space: nowrap;
  font-weight: 400;
  font-family: "Circe";
  font-size: 1rem;
  line-height: 135%;
}

.form-search {
  background: #2378FC;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  padding: 1.25rem 0.9375rem;
  z-index: 10;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-search._active {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.form-search__input {
  font-size: 1.125rem;
  line-height: 135%;
  color: #fff;
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0.625rem 0.9375rem;
  outline: none;
  border: 1px solid #fff;
}

.form-search__input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form-search__input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.form-search__input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form-search__input::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form-search__input::placeholder {
  color: #fff;
  opacity: 1;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #30BCC9;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}

.column-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.column-footer__title {
  cursor: default;
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 130%;
  position: relative;
}

.column-footer__title._spoller-active::after {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.column-footer__body {
  padding-top: 1.25rem;
}

.column-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.column-footer__link {
  font-family: "Circe";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 135%;
  color: #E0E0E0;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.app-item-socials__title {
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 130%;
}

.app-item-socials__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.app-item-socials__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}

.item-socials__title {
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 130%;
}

.item-socials__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.item-socials__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.form-item {
  max-width: 15.9375rem;
}

.form-item__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.form-item__form .form__error {
  font-family: "Circe";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 135%;
  position: absolute;
  top: -1.25rem;
  left: 0.9375rem;
  color: #F6404F;
}

.form-item__title {
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 130%;
}

.form-item__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.form-item__text {
  font-family: "Circe";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 135%;
  color: #E0E0E0;
}

.form-item__text:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.form-item__input {
  outline: none;
  width: 100%;
  padding: 0.8125rem 1.25rem;
  color: #2E373B;
  font-family: "Circe";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 135%;
}

.form-item__input::-webkit-input-placeholder {
  color: #9C9C9C;
}

.form-item__input::-moz-placeholder {
  color: #9C9C9C;
}

.form-item__input:-ms-input-placeholder {
  color: #9C9C9C;
}

.form-item__input::-ms-input-placeholder {
  color: #9C9C9C;
}

.form-item__input::placeholder {
  color: #9C9C9C;
}

.form-item__button {
  display: inline-block;
  padding: 0.75rem;
  background-color: #F6404F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-item__button span {
  background: url(../img/footer/button.svg) center no-repeat;
  width: 1.125rem;
  height: 1.125rem;
}

.no-webp .main{
  background: url(../img/main/bg.jpg) 0 0/cover no-repeat; }

.main {
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.main__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  gap: 0.9375rem;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__title {
  font-weight: 700;
  line-height: 160%;
  text-transform: uppercase;
}

.main__sub-title {
  max-width: 33.125rem;
  font-family: "Circe";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 140%;
}

.main__sub-title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.main__link {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-weight: 400;
  font-size: 1rem;
  line-height: 135%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.main__link::after {
  display: inline-block;
  content: "";
  background: url(../img/main/arrow.svg) 0 0/contain no-repeat;
  width: 1rem;
  height: 0.5rem;
}

.main__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-self: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}

.item-main {
  padding: 1.875rem 2.5rem;
}

.item-main_1 {
  background: #2378FC;
}

.item-main_2 {
  background: #30BCC9;
}

.item-main_3 {
  background: #FFC41E;
}

.item-main_4 {
  background: #F6404F;
}

.item-main__title {
  max-width: 10.9375rem;
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 130%;
  letter-spacing: -0.01em;
}

.item-main__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-main__link {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 135%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.item-main__link::after {
  display: inline-block;
  content: "";
  background: url(../img/main/arrow.svg) 0 0/contain no-repeat;
  width: 1rem;
  height: 0.5rem;
}

.about {
  background-color: #2378FC;
}

.about__spollers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__title {
  text-align: left;
  font-weight: 500;
  line-height: 130%;
  position: relative;
}

.about__title._spoller-active::after {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.about__body {
  margin-top: 1.875rem;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__link {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: "Circe";
  font-weight: 400;
  line-height: 135%;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.about__link:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.events {
  background-color: #FFC41E;
}

.events__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.events__title {
  line-height: 130%;
  color: #2E373B;
  font-weight: 500;
}

.events__link {
  white-space: nowrap;
  font-size: 1.3125rem;
  line-height: 130%;
  font-weight: 500;
  color: #2E373B;
  -webkit-text-decoration-line: underline !important;
          text-decoration-line: underline !important;
  position: relative;
}

.events__link::after {
  content: "";
  margin-left: 0.9375rem;
  display: inline-block;
  background: url("../img/events/arrow.svg") right no-repeat;
  width: 1.625rem;
  height: 0.75rem;
}

.events__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.item-events__image {
  padding-bottom: 68.5714285714%;
  position: relative;
}

.item-events__image:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-events__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-events__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.item-events__date {
  font-family: "Circe";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 135%;
  color: #2E373B;
}

.item-events__title {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 130%;
  color: #F6404F;
}

.item-events__text {
  font-family: "Circe";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 135%;
  color: #2E373B;
}

.news {
  background-color: #FAF3E3;
}

.news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1.875rem;
}

.news__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40.0900900901%;
          flex: 0 0 40.0900900901%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__image {
  padding-bottom: 48.3146067416%;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.news__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-news__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-news__header:not(:last-child) {
  margin-bottom: 1.875rem;
}

.content-news__title {
  font-weight: 500;
  line-height: 130%;
  color: #2E373B;
}

.content-news__link {
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 130%;
  -webkit-text-decoration-line: underline !important;
          text-decoration-line: underline !important;
  color: #2E373B;
}

.content-news__link::after {
  content: "";
  margin-left: 0.9375rem;
  display: inline-block;
  background: url("../img/events/arrow.svg") right no-repeat;
  width: 1.625rem;
  height: 0.75rem;
}

.content-news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.item-content-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-content-news__image {
  max-width: 10rem;
  max-height: 7.5rem;
  position: relative;
}

.item-content-news__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-content-news__body {
  padding: 0.9375rem 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}

.item-content-news__date {
  color: #F6404F;
  line-height: 135%;
  font-weight: 400;
  font-family: "Circe";
}

.item-content-news__link {
  max-width: 21.25rem;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-weight: 500;
  line-height: 130%;
  color: #2E373B;
}

@media (min-width: 71.25em) {
  .footer {
    padding-top: 3.75rem;
  }

  .footer {
    padding-bottom: 4.375rem;
  }

  .main__content {
    padding-top: 17.125rem;
  }

  .main__title {
    font-size: 4rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .main__items {
    padding-bottom: 3.3125rem;
  }

  .about {
    padding-top: 4.6875rem;
  }

  .about {
    padding-bottom: 4.6875rem;
  }

  .about__title {
    font-size: 1.875rem;
  }

  .events {
    padding-top: 4.6875rem;
  }

  .events {
    padding-bottom: 5rem;
  }

  .events__header:not(:last-child) {
    margin-bottom: 3.4375rem;
  }

  .events__title {
    font-size: 1.875rem;
  }

  .events__items {
    gap: 1.875rem;
  }

  .news {
    padding-top: 4.6875rem;
  }

  .news {
    padding-bottom: 5.3125rem;
  }

  .news__images {
    gap: 3.75rem;
  }

  .content-news__title {
    font-size: 1.875rem;
  }

  .item-content-news__link {
    font-size: 1.3125rem;
  }
}

@media (max-width: 20em) {
  .footer {
    padding-top: 1.875rem;
  }

  .footer {
    padding-bottom: 1.875rem;
  }

  .main__content {
    padding-top: 6.25rem;
  }

  .main__title {
    font-size: 2.625rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .main__items {
    padding-bottom: 1.875rem;
  }

  .about {
    padding-top: 1.875rem;
  }

  .about {
    padding-bottom: 1.875rem;
  }

  .about__title {
    font-size: 1.5rem;
  }

  .events {
    padding-top: 1.875rem;
  }

  .events {
    padding-bottom: 1.875rem;
  }

  .events__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .events__title {
    font-size: 1.5rem;
  }

  .events__items {
    gap: 1.25rem;
  }

  .news {
    padding-top: 1.875rem;
  }

  .news {
    padding-bottom: 1.875rem;
  }

  .news__images {
    gap: 1.25rem;
  }

  .content-news__title {
    font-size: 1.5rem;
  }

  .item-content-news__link {
    font-size: 1.125rem;
  }
}

@media (max-width: 69.375em) {
  .header__content {
    gap: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .header__container {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .header__menu {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .menu__body {
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    padding: 6.25rem 1.875rem 0.9375rem 0.9375rem;
    background-color: #2378FC;
  }

  .menu__body::before {
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #2378FC;
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    min-height: 5.6875rem;
    border-bottom: 1px solid #FFFFFF;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__link {
    font-size: 1.5rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
  }

  .news__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 47.99875em) {
  .footer__columns {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .main__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
  }

  .item-main {
    padding: 1.25rem 1.875rem;
  }

  .about__spollers {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    justify-items: center;
  }

  .events__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 29.99875em) {
  .header__content {
    gap: 0.9375rem;
  }

  .header__Langs {
    gap: 0;
  }

  .header__lang {
    display: none;
  }

  .footer__columns {
    gap: 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .column-footer__items {
    gap: 1.25rem;
  }

  .column-footer__title {
    cursor: pointer;
    width: 100%;
    text-align: left;
  }

  .column-footer__title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.9375rem;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    -webkit-transform: rotate(-135deg) translateY(50%);
        -ms-transform: rotate(-135deg) translateY(50%);
            transform: rotate(-135deg) translateY(50%);
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
  }

  .main__items {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .item-main {
    padding: 0.9375rem 1.25rem;
  }

  .item-main__title {
    width: 100%;
    max-width: 100%;
  }

  .about__spollers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__title {
    cursor: pointer;
    width: 100%;
    text-align: left;
  }

  .about__title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.9375rem;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    -webkit-transform: rotate(-135deg) translateY(50%);
        -ms-transform: rotate(-135deg) translateY(50%);
            transform: rotate(-135deg) translateY(50%);
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
  }

  .events__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .events__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .item-content-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-content-news__image {
    max-width: 100%;
    max-height: 100%;
  }

  .item-content-news__body {
    padding: 0.9375rem 0rem;
  }
}

@media (min-width: 20em) and (max-width: 71.25em) {
  .footer {
    padding-top: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem );
  }

  .footer {
    padding-bottom: clamp( 1.875rem , 0.8993902439rem  +  4.8780487805vw , 4.375rem );
  }

  .main__content {
    padding-top: clamp( 6.25rem , 2.006097561rem  +  21.2195121951vw , 17.125rem );
  }

  .main__title {
    font-size: clamp( 2.625rem , 2.0884146341rem  +  2.6829268293vw , 4rem );
  }

  .main__title:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.449695122rem  +  2.4390243902vw , 2.1875rem );
  }

  .main__items {
    padding-bottom: clamp( 1.875rem , 1.3140243902rem  +  2.8048780488vw , 3.3125rem );
  }

  .about {
    padding-top: clamp( 1.875rem , 0.7774390244rem  +  5.487804878vw , 4.6875rem );
  }

  .about {
    padding-bottom: clamp( 1.875rem , 0.7774390244rem  +  5.487804878vw , 4.6875rem );
  }

  .about__title {
    font-size: clamp( 1.5rem , 1.3536585366rem  +  0.7317073171vw , 1.875rem );
  }

  .events {
    padding-top: clamp( 1.875rem , 0.7774390244rem  +  5.487804878vw , 4.6875rem );
  }

  .events {
    padding-bottom: clamp( 1.875rem , 0.6554878049rem  +  6.0975609756vw , 5rem );
  }

  .events__header:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.3963414634rem  +  4.2682926829vw , 3.4375rem );
  }

  .events__title {
    font-size: clamp( 1.5rem , 1.3536585366rem  +  0.7317073171vw , 1.875rem );
  }

  .events__items {
    gap: clamp( 1.25rem , 1.006097561rem  +  1.2195121951vw , 1.875rem );
  }

  .news {
    padding-top: clamp( 1.875rem , 0.7774390244rem  +  5.487804878vw , 4.6875rem );
  }

  .news {
    padding-bottom: clamp( 1.875rem , 0.5335365854rem  +  6.7073170732vw , 5.3125rem );
  }

  .news__images {
    gap: clamp( 1.25rem , 0.2743902439rem  +  4.8780487805vw , 3.75rem );
  }

  .content-news__title {
    font-size: clamp( 1.5rem , 1.3536585366rem  +  0.7317073171vw , 1.875rem );
  }

  .item-content-news__link {
    font-size: clamp( 1.125rem , 1.0518292683rem  +  0.3658536585vw , 1.3125rem );
  }
}

@media (any-hover: hover) {
  .column-footer__link:hover {
    color: #FFC41E;
    -webkit-text-decoration-line: underline !important;
            text-decoration-line: underline !important;
  }

  .about__link:hover {
    color: #FFC41E;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }

  .item-events__title:hover {
    text-decoration: underline !important;
  }

  .item-content-news__link:hover {
    text-decoration: underline !important;
  }
}

.webp .main{ background: url(../img/main/bg.webp) 0 0/cover no-repeat; }